# TODO: adjust the prefix values to match the actual deployments
# See https://doc.psono.com/admin/installation-old/install-reverse-proxy.html#preamble
{{- if .Values.ingress.enabled -}}
{{ $adminSvc := (include "adminClient.fullname" .) }}
{{ $clientSvc := (include "webclient.fullname" .) }}
{{ $serverSvc := (include "server.fullname" .) }}
{{ $kubeVersion := .Capabilities.KubeVersion.Version }}
{{- if .Capabilities.APIVersions.Has "networking.k8s.io/v1" -}}
apiVersion: networking.k8s.io/v1
{{- else if .Capabilities.APIVersions.Has "networking.k8s.io/v1beta1" -}}
apiVersion: networking.k8s.io/v1beta1
{{- else -}}
apiVersion: extensions/v1beta1
{{- end }}
kind: Ingress
metadata:
  name: {{ include "psono.fullname" . }}
  labels:
    {{- include "psono.labels" . | nindent 4 }}
  {{- with .Values.ingress.annotations }}
  annotations:
    {{- toYaml . | nindent 4 }}
  {{- end }}
spec:
  {{- if .Values.ingress.tls }}
  tls:
    {{- range .Values.ingress.tls }}
    - hosts:
        {{- range .hosts }}
        - {{ . | quote }}
        {{- end }}
      secretName: {{ .secretName }}
    {{- end }}
  {{- end }}
  rules:
    {{- range .Values.ingress.hosts }}
    - host: {{ .host | quote }}
      http:
        paths:
        {{- if $.Values.server.enabled }}
          - path: /server
            {{ if semverCompare ">= 1.19.0" $kubeVersion -}}
            pathType: Prefix
            backend:
              service:
                name: {{ $serverSvc }}
                port:
                  number: {{ $.Values.server.service.port }}
            {{ else -}}
            backend:
              serviceName: {{ $serverSvc }}
              servicePort: {{ $.Values.server.service.port }}
            {{ end -}}
        {{- end }}
        {{- if $.Values.webclient.enabled }}
          - path: /
            {{ if semverCompare ">= 1.19.0" $kubeVersion -}}
            pathType: Prefix
            backend:
              service:
                name: {{ $clientSvc }}
                port:
                  number: {{ $.Values.webclient.service.port }}
            {{ else -}}
            backend:
              serviceName: {{ $clientSvc }}
              servicePort: {{ $.Values.webclient.service.port }}
            {{ end -}}
        {{- end }}
        {{- if $.Values.adminClient.enabled }}
          - path: /portal
            {{ if semverCompare ">= 1.19.0" $kubeVersion -}}
            pathType: Prefix
            backend:
              service:
                name: {{ $adminSvc }}
                port:
                  number: {{ $.Values.adminClient.service.port }}
            {{ else -}}
            backend:
              serviceName: {{ $adminSvc }}
              servicePort: {{ $.Values.adminClient.service.port }}
            {{ end -}}
        {{- end }}
    {{- end }}
  {{- end }}